data/
db_data/
mysql_data/

*.log
.DS_Store
Thumbs.db

.idea/
.vscode/

target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

node_modules/
dist/
out-tsc/
.angular/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*